<!DOCTYPE html>
<html lang="en">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="index,follow" />
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
        <title>Orbit Games - Play online</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- <link rel="alternate" hreflang="de" href="https://de.html5games.com/">
        <link rel="alternate" hreflang="tr" href="https://tr.html5games.com/"> -->
        <meta name="description" content="Play the best HTML5 games for free in Orbit Games." />
        <meta name="keywords" content="html5,html5 games,online,free,canvas,affiliate,play" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="HTML5games.com" />
        <meta property="og:description" content="Games for your website - powered by HTML5" />
        <meta property="og:url" content="#" />
        <meta property="og:site_name" content="HTML5games.com" />
        <meta property="og:image" content="assets/images/html5games_logoc381.png?v=0.2-13e95fcd" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    </head>

    <body>
        <div class="app-container">
            <div id="app">
                <header class="main">
                    <div class="main-section">
                        <div class="menuHolder">
                            <input type="checkbox" id="navigationTrigger" />
                            <label for="navigationTrigger" class="openIcon">
                                <svg x="0px" y="0px" viewBox="0 0 100 100">
                                    <g transform="translate(0,-952.36218)">
                                        <path
                                            d="m 14.000002,968.36217 c -3.3137,0 -6,2.68619 -6,6 0,3.31359 2.6863,6 6,6 l 71.999996,0 c 3.3137,0 6,-2.68641 6,-6 0,-3.31381 -2.6863,-6 -6,-6 z m 0,28.00003 c -3.3137,0 -6,2.6862 -6,6 0,3.3136 2.6863,6 6,6 l 71.999996,0 c 3.3137,0 6,-2.6864 6,-6 0,-3.3138 -2.6863,-6 -6,-6 z m 0,28 c -3.3137,0 -6,2.6862 -6,6 0,3.3136 2.6863,6 6,6 l 71.999996,0 c 3.3137,0 6,-2.6864 6,-6 0,-3.3138 -2.6863,-6 -6,-6 z"
                                        ></path>
                                    </g>
                                </svg>
                            </label>
                            <nav class="main">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-home" aria-hidden="true"></i></i>Home</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-sun-o" aria-hidden="true"></i>New</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Best</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i>Puzzle</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-question" aria-hidden="true"></i>Quiz</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="language-select">
                            <div class="value">
                                EN
                            </div>
                            <select data-language-switch>
                                <option value="bn">BN</option>
                                <option value="en" selected>EN</option>
                            </select>
                        </div>
                        <a href="#" class="logo">
                            <img src="images/background.jpg" 
                                style="width: 100%; height: 100%; object-fit: contain; max-height: 400px;"/>
                        </a>
                    </div>
                </header>
                <div class="content">
                    <div class="main-section">
                        <h2 class="h1">
                            <a href="#"> <i class="fa fa-gamepad"></i>&nbsp;Orbit Games </a>
                        </h2>
                        <ul class="games games-special">
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/CaptainRogers
                                ">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/captain-rogers-thumb.png" alt="Captain Rogers" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Captain Rogers</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/file/SaveTheFish
                                ">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/save-the-fish-tumb.png" alt="Save The Fish" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Save The Fish</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/TowerBlocks/">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/two-tower-block-tumb.png" alt="Tower Blocks" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Tower Blocks</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/file/ZombiesAmongUs
                                ">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/zombies-among-us-tumb.png" alt="Zombies Among Us" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Zombies Among Us</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/file/SweetBoom/">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/sweetboom-tumb.png" alt="Sweet Boom" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Sweet Boom</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/file/ZooSlings
                                ">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/zooslings-tumb.png" alt="Zoo Slings" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Zoo Slings</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/file/SaveTheMonster
                                ">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/save-the-monster-tumb.png" alt="Save the Monster" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Save the Monster</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/2048/">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/2048-tumb.png" alt="2048" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">2048</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/file/VirusShot
                                ">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/virus-shot-tumb.png" alt="Virus Shot" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Virus Shot</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="https://play.famobi.com/8-ball-billiards-classic">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/flappy-tumb.png" alt="Flappy" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Flappy</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="btn-container"></div>
                        <h2 class="h1">
                            <a href="All-Games.html"> <i class="fa fa-trophy"></i>&nbsp;TOP </a>
                        </h2>
                        <ul class="games games-special">
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/CaptainRogers
                                ">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/captain-rogers-thumb.png" alt="Captain Rogers" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Captain Rogers</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/file/SaveTheFish
                                ">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/save-the-fish-tumb.png" alt="Save The Fish" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Save The Fish</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/TowerBlocks/">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/two-tower-block-tumb.png" alt="Tower Blocks" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Tower Blocks</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/file/ZombiesAmongUs
                                ">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/zombies-among-us-tumb.png" alt="Zombies Among Us" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Zombies Among Us</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/file/SweetBoom/">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/sweetboom-tumb.png" alt="Sweet Boom" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Sweet Boom</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/file/ZooSlings
                                ">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/zooslings-tumb.png" alt="Zoo Slings" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Zoo Slings</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/file/SaveTheMonster
                                ">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/save-the-monster-tumb.png" alt="Save the Monster" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Save the Monster</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/2048/">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/2048-tumb.png" alt="2048" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">2048</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://103.108.144.246/orbitgameplay/file/VirusShot
                                ">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/virus-shot-tumb.png" alt="Virus Shot" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Virus Shot</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="https://play.famobi.com/8-ball-billiards-classic">
                                    <div class="icon">
                                        <div class="clamp"></div>
                                        <img src="images/flappy-tumb.png" alt="Flappy" />
                                    </div>
                                    <div class="name-container">
                                        <div class="name">Flappy</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="btn-container"></div>
                    </div>
                </div>
                <footer class="main">
                    <div class="footer-content">
                        <section class="tags">
                            <nav class="main">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-home" aria-hidden="true"></i></i>Home</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-sun-o" aria-hidden="true"></i>New</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Best</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-puzzle-piece" aria-hidden="true"></i>Puzzle</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-question" aria-hidden="true"></i>Quiz</a>
                                    </li>
                                </ul>
                            </nav>
                        </section>
                        <nav class="meta">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">Privacy Policy</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright">
                            ©2022 Orbit Games
                        </div>
                        <div class="powered-by-famobi">
                            powered by
                            <a href="#" target="_blank">
                                <img src="images/logo.png" style="width: 280px; height: 70px; margin-left: 300px; margin-top: 5px;" />
                            </a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!-- <script src="assets/0.2-13e95fcd/js/utils.js"></script> -->
    </body>
</html>
